* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: $darkGrey;
    color: $white;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

@import 'functions';
@import 'scrollbar';
@import 'components/backgrounds';
@import 'components/buttons';
@import 'components/alerts';

.widget {
    border-radius: 5px;
    color: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);

    .fa {
        font-size: 45px;
    }

    span,
    h2 {
        width: 100%;
        float: right;
        text-align: right;
    }

    span {
        font-weight: 500;
    }
}

.box {
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;

    .box-title {
        margin-bottom: 0;
        padding: 15px 90px 8px 15px;
        min-height: 48px;
        position: relative;
        color: $white;

        h5 {
            display: inline-block;
            font-size: 14px;
            margin: 0 0 7px;
            padding: 0;
            text-overflow: ellipsis;
            float: none;
        }

        a {
            color: $white;
        }

        span {
            float: right;
            font-size: 15px;
            margin-right: -75px;
        }
    }

    .box-content {
        background-color: #ffffff;
        color: $dark;
        padding: 10px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
        overflow: auto;

        ul {
            list-style: none;

            li {
                // padding: 10px 5px;
                border-bottom: 0.5px solid rgba($purpleLight, 0.8);
                width: 100%;
            }
        }
    }
}

.box-sm {
    max-height: 200px;
}

.box-md {
    max-height: 300px;
}

.box-lg {
    max-height: 400px;
}

.badge {
    padding: 5px;
    border-radius: 2px;


    &.badge-sm {
        float: right;
        font-size: 10px;
    }
}



.card {
    .card-header {
        padding: 10px 15px;
        font-weight: 700;

        &#backlog {
            border-top: 5px solid $purpleDark;
        }

        &#progress {
            border-top: 5px solid $pink;
        }

        &#feedback {
            border-top: 5px solid $teal;
        }

        &#completed {
            border-top: 5px solid $neonGreen;
        }

    }
}

.heading {
    a {
        text-decoration: none;
        color: rgba($purpleDark, 0.5);

        &:hover {
            color: $purpleDark;
        }
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}