@import url('https://fonts.google.com/specimen/Roboto?selection.family=Montserrat|Open+Sans|Roboto');
// Variables and Functions
@import 'variables';
@import 'mixins';

// Global CSS
@import 'global';

// Grid
@import 'grid';

// Components
@import 'components/sidemenu';
@import 'components/buttons';

// Layouts
@import 'layouts/login/login';
@import 'layouts/register/register';

#wrapper {
    height: 100%;
    overflow: auto;
    @import 'components/sidemenu';
    @import 'components/header';

    #content-area {
        padding-top: 40px;
        margin-left: 80px;
        color: $purpleLight;
        height: 100%;

        .dateNtime {
            float: right;
            margin-top: -50px;
            text-align: right;

            span {
                display: block;
            }
        }

        .box {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);

            .box-content {
                padding: 0;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .action-icons {
                    text-align: right;

                    i {
                        display: inline-block;
                    }
                }

                .project-date {
                    padding: 10px 15px;
                    text-align: center;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
                    color: $purpleDark;

                    small {
                        display: block;

                    }

                    span {
                        font-size: 40px;
                        font-weight: 700;
                    }
                }

                .project-info {
                    padding-left: 10px;

                    h2 {
                        font-size: 50px;
                        font-weight: 700;
                    }

                    span {
                        display: inline-block;

                        &.customer-name {
                            font-size: 15px;
                            font-weight: 700;
                        }

                        &.customer-contact {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }

                .project-assignee {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }

        #projects {
            .card {
                .card-header {
                    background: $white;
                    border-top: 1px solid rgba($purpleDark, 0.5);
                    border-bottom: 1px solid rgba($purpleLight, 0.3);
                    padding: 20px 5px;

                    span {
                        float: right;
                    }
                }

                .card-body {
                    background: $white;
                    padding-top: 10px;

                    .row {
                        .status {
                            small {
                                margin-top: 15px;
                            }
                        }

                        .title {
                            a {
                                text-decoration: none;
                                margin-top: 5px;
                                font-weight: 700;
                                font-size: 20px;
                                display: block;
                                color: $purpleLight;

                                &:hover {
                                    color: $purpleDark;
                                    text-decoration: underline;
                                }
                            }

                            small {
                                font-size: 80%;
                                color: rgba($purpleDark, 0.5);
                            }
                        }

                        .progress {
                            span {
                                margin-top: 15px;
                                font-size: 10px;
                                font-weight: 600;
                                color: rgba($purpleDark, 0.8);
                            }

                            hr {
                                height: 10px;
                                border: none;
                            }
                        }

                        .assignee {
                            text-align: center;

                            ul {
                                list-style: none;

                                li {
                                    display: inline-block;
                                    padding: 0 1px;

                                    img {
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                    }

                                    .abbreviation {
                                        font-size: 18px;
                                        font-weight: 700;
                                        background: $lightGreyFont;
                                        color: $purpleLight;
                                        padding: 5px;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }

                        .actions {
                            text-align: right;

                            a {
                                margin-top: 15px;
                                display: inline-block;
                                padding: 0 5px;
                                text-decoration: none;
                                color: $purpleDark;
                            }
                        }

                        &:hover {
                            background: $darkGrey;
                        }
                    }

                }
            }
        }

        #project-details {
            .details {
                strong {
                    display: block;
                    text-align: right;
                    margin-bottom: 7px;
                }

                span {
                    display: block;
                    text-align: left;
                    margin-bottom: 7px;
                }

                .progress-bar {
                    float: none;
                    padding: 0;
                    height: 10px;
                    border-radius: 5px;
                    background: $darkGreyFont;
                }

                hr {
                    height: 10px;
                    border: 0;
                    border-radius: 5px;
                }
            }

            .participants {
                .card {
                    background: $white;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: rgba($purpleDark, 0.8);

                        &:hover {
                            color: $purpleDark;

                            li {
                                background: $lightGreyFont;
                            }
                        }
                    }

                    li {
                        display: block;
                        padding: 10px 15px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: inline-block;
                        }

                        div {
                            display: inline-block;

                            span {
                                display: block;
                            }

                            .name {
                                padding: 0 15px;
                                font-weight: 600;
                                font-size: 20px;
                            }

                            .position {
                                padding: 0 15px;
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        #sales {

            .label-group {
                padding: 5px 15px;

                label {
                    display: inline-block;
                    font-weight: 700;
                    color: rgba($purpleDark, 0.5);
                }

                span {
                    float: right;
                    font-weight: 700;
                    color: rgba($purpleDark, 0.8);
                }
            }
        }

        #employees {
            .col-md-4 {
                padding: 5px !important;
            }

            .emp {
                margin: 10px 0;
            }

            .col-2,
            .col-9,
            .col-1 {
                padding: 0 !important;
            }

            .col-9 {
                border-right: 1px solid rgba($purpleDark, 0.5);

                span {
                    font-size: 30px;
                    font-weight: 700;
                    display: block;
                    padding-left: 10px;
                }

                .name {
                    color: $purpleDark;

                }

                .position {
                    color: rgba($purpleDark, 0.5);
                }
            }


            .col-2 {
                text-align: center;

                img {
                    width: 100%;
                    height: 65px;
                }
            }

            .col-1 {
                text-align: center;

                a {
                    text-decoration: none;

                    color: rgba($white, 0.5);

                    &:hover {
                        color: $purpleDark;
                    }
                }

                i {
                    display: block;
                    padding: 3px 0;

                    &.fa-eye {
                        background: $green;
                    }

                    &.fa-pencil {
                        background: $blue;
                    }

                    &.fa-times {
                        background: $red;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {
    #wrapper {
        #content-area {
            margin-left: 0;

            .box {
                .box-content {

                    .project-date {
                        padding: 5px;

                        small {
                            display: block;
                        }

                        span {
                            font-size: 40px;
                            font-weight: 700;
                        }
                    }

                    .project-info {
                        h2 {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        span {

                            &.customer-name {
                                font-size: 15px;
                                font-weight: 700;
                            }

                            &.customer-contact {
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }

                    .project-assignee {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}