@import url('https://fonts.google.com/specimen/Roboto?selection.family=Montserrat|Open+Sans|Roboto');
// Variables and Functions
@import 'variables';
@import 'mixins';

// Global CSS
@import 'global';

// Grid
@import 'grid';

// Components
@import 'components/sidemenu';
@import 'components/buttons';

// Layouts
@import 'layouts/login/login';
@import 'layouts/register/register';

#wrapper {
    height: 100%;
    overflow: auto;
    @import 'components/sidemenu';
    @import 'components/header';

    #content-area {
        padding-top: 40px;
        margin-left: 80px;
        color: $purpleLight;
        height: 100%;

        .dateNtime {
            float: right;
            margin-top: -50px;
            text-align: right;

            span {
                display: block;
            }
        }

        .box {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);

            .box-content {
                padding: 0;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .action-icons {
                    text-align: right;

                    i {
                        display: inline-block;
                    }
                }

                .project-date {
                    padding: 10px 15px;
                    text-align: center;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
                    color: $purpleDark;

                    small {
                        display: block;

                    }

                    span {
                        font-size: 40px;
                        font-weight: 700;
                    }
                }

                .project-info {
                    padding-left: 10px;

                    h2 {
                        font-size: 50px;
                        font-weight: 700;
                    }

                    span {
                        display: inline-block;

                        &.customer-name {
                            font-size: 15px;
                            font-weight: 700;
                        }

                        &.customer-contact {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }

                .project-assignee {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (max-width: 768px) {
    #wrapper {
        #content-area {
            margin-left: 0;

            .box {
                .box-content {

                    .project-date {
                        padding: 5px;

                        small {
                            display: block;
                        }

                        span {
                            font-size: 40px;
                            font-weight: 700;
                        }
                    }

                    .project-info {
                        h2 {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        span {

                            &.customer-name {
                                font-size: 15px;
                                font-weight: 700;
                            }

                            &.customer-contact {
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }

                    .project-assignee {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}